.create-question-form {
	margin-top: 50px;
}

.create-question-text-input {
	width: 70% !important;
	margin: 30px 0 !important;
}

.create-option-field {
	margin: 5px 0 !important;
	width: 50% !important;
	margin-right: 30px !important;
}

.create-question-marks-field {
	margin: 10px 0 !important;
	margin-bottom: 50px !important;
}