.test-page {
	background-color: #f5f5f5;
}

.test-container {
	padding-top: 2%;
	background-color: white;
}

.test-timer-grid {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10%;
	padding: 20px 0 !important;
}

.test-time-remaining {
	position: sticky;
	top: 10px;
}

.student-questions-display {
	padding-top: 30px;
}