@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");
/* 
.form-input {
	padding: 12px 20px !important;
	border-radius: 10px !important;
	background-color: #fffdfd !important;
	border: 1px solid #dbc6ba !important;
	margin-bottom: 40px !important;
}

.form-input:focus {
	border: 2px solid#dbc6ba !important;
} 

*/

.form-input {
  width: 100% !important;
  background-color: #fdf9f9 !important;
}

.light-text {
  color: rgb(173, 173, 173);
}

a {
  text-decoration: none !important;
}

.custom-action-btn {
  font-weight: bold !important;
  border-radius: 50px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
}

::-moz-selection {
  background: #E31E43;
  color: #fff;
}

::selection {
  background: #E31E43;
  color: #fff;
}

.org-website-link:hover {
  cursor: pointer !important;
}