@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");

.form-input {
  width: 100% !important;
  background-color: #fdf9f9 !important;
}

.light-text {
  color: rgb(173, 173, 173);
}

a {
  text-decoration: none !important;
}

.custom-action-btn {
  font-weight: bold !important;
  border-radius: 50px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
}

::-moz-selection {
  background: #e31e43;
  color: #fff;
}

::selection {
  background: #e31e43;
  color: #fff;
}

.org-website-link:hover {
  cursor: pointer !important;
}

.profile-section-container .MuiAvatar-img {
  object-fit: contain !important
}

.profile-banner {
  margin-top: 50px;
  /* height: 450px !important; */
  border-radius: 12px;
}

.card-text-stud-dash {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}
